# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/blas-1.0-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h620ffc9_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/c-ares-1.19.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ca-certificates-2023.08.22-hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/dav1d-1.2.1-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/noarch/font-ttf-dejavu-sans-mono-2.37-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/font-ttf-inconsolata-2.001-hcb22688_0.conda
https://repo.anaconda.com/pkgs/main/noarch/font-ttf-source-code-pro-2.030-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/font-ttf-ubuntu-0.83-h8b1ccd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.1-h80987f9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/icu-73.2-hc8870d7_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcxx-16.0.6-h4653b0c_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libdeflate-1.19-hb547adb_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libev-4.33-h1a28f6b_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libexpat-2.5.0-hb7217d7_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libiconv-1.17-he4db4b2_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libjpeg-turbo-3.0.0-hb547adb_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libmad-0.15.1b-h1a8c8d9_1001.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libogg-1.3.5-h1a28f6b_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libopus-1.3.1-h27ca646_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libsodium-1.0.18-h27ca646_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.3.2-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzlib-1.2.13-h53f4e23_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pixman-0.40.0-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python_abi-3.11-4_cp311.conda
https://conda.anaconda.org/conda-forge/osx-arm64/rav1e-0.6.6-h69fbcac_2.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2023c-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.2-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/aom-3.7.0-h463b476_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/expat-2.5.0-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/flatbuffers-23.5.26-h13dd4ca_1.conda
https://repo.anaconda.com/pkgs/main/noarch/fonts-anaconda-1-h8fa9717_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/gettext-0.21.1-h0186832_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/graphite2-1.3.14-hc377ac9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lame-3.100-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/lerc-4.0.0-h9a09cb3_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libabseil-20230125.3-cxx17_h13dd4ca_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libedit-3.1.20221030-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran5-11.3.0-h009349e_28.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libprotobuf-3.21.12-ha614eb4_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsqlite-3.44.0-h091b4b1_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libvorbis-1.3.7-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/mpg123-1.32.3-h13dd4ca_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.1.4-h0d3ecfb_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pcre2-10.40-hb34f9b4_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/portaudio-19.6.0-h13dd4ca_9.conda
https://conda.anaconda.org/conda-forge/osx-arm64/portmidi-2.0.4-h13dd4ca_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/re2-2023.03.02-hc5e2d97_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/sdl2-2.28.4-h13dd4ca_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/snappy-1.1.10-h17c5cce_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/svt-av1-1.7.0-hb765f3a_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tk-8.6.13-h5083fa2_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/zeromq-4.3.5-h965bd2d_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/zlib-1.2.13-h53f4e23_5.conda
https://repo.anaconda.com/pkgs/main/noarch/fonts-conda-ecosystem-1-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/krb5-1.20.1-hf3e1bf2_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libavif16-1.0.1-h4cb461b_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libflac-1.4.3-hb765f3a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran-5.0.0-11_3_0_hca03da5_28.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libglib-2.78.1-hd9b11f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgrpc-1.54.3-h0a338ca_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libnghttp2-1.57.0-h62f6fdd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libssh2-1.10.0-h02f6b3c_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/opusfile-0.12-h5643135_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python-3.11.6-h47c9636_0_cpython.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.5-hd90d995_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/absl-py-1.4.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/appnope-0.1.3-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/async-timeout-4.0.2-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/attrs-23.1.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/backports-1.0-pyhd8ed1ab_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/blinker-1.6.2-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-python-1.0.9-py311h313beb8_7.conda
https://repo.anaconda.com/pkgs/main/noarch/cachetools-4.2.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/certifi-2023.7.22-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-2.0.4-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/click-8.1.7-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cloudpickle-2.2.1-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/debugpy-1.8.0-py311ha891d26_1.conda
https://conda.anaconda.org/conda-forge/noarch/decorator-5.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/exceptiongroup-1.1.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/executing-2.0.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/farama-notifications-0.0.4-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/frozenlist-1.4.0-py311h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/noarch/gast-0.5.3-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/glib-tools-2.78.1-h9e231a4_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/grpcio-1.54.3-py311ha891d26_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.4-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/keras-2.13.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcurl-8.4.0-h3e2b118_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libopenblas-0.3.21-h269037a_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsndfile-1.2.2-h9739721_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libtiff-4.6.0-ha8a6c65_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markdown-3.4.1-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/markupsafe-2.1.1-py311h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/multidict-6.0.2-py311h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.5.8-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/packaging-23.1-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/parso-0.8.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pickleshare-0.7.5-py_1003.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/psutil-5.9.5-py311heffc1b2_1.conda
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.7.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pure_eval-0.2.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pyasn1-0.4.8-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.21-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pygments-2.16.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyjwt-2.4.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-flatbuffers-2.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pyzmq-25.1.1-py311he9c0408_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-68.0.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tensorboard-data-server-0.7.0-py311ha6e5c4f_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/termcolor-2.1.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tornado-6.3.3-py311heffc1b2_1.conda
https://conda.anaconda.org/conda-forge/noarch/traitlets-5.13.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing_extensions-4.5.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.41.2-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wrapt-1.14.1-py311h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.17.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/aiosignal-1.2.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/asttokens-2.4.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/astunparse-1.6.3-py_0.conda
https://conda.anaconda.org/conda-forge/noarch/backports.functools_lru_cache-1.6.5-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cffi-1.15.1-py311h80987f9_3.conda
https://conda.anaconda.org/conda-forge/noarch/comm-0.1.4-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/fluidsynth-2.3.4-hf14698e_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/fontconfig-2.14.2-h82840c6_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/glib-2.78.1-h9e231a4_0.conda
https://repo.anaconda.com/pkgs/main/noarch/google-pasta-0.2.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/hdf5-1.12.1-h05c076b_3.conda
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-6.8.0-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/jedi-0.19.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/jupyter_core-4.12.0-py311h267d04e_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libblas-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/matplotlib-inline-0.1.6-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-1.26.0-py311hfbfe69c_0.conda
https://conda.anaconda.org/conda-forge/noarch/pexpect-4.8.0-pyh1a96a4e_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-23.3-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/protobuf-4.21.12-py311ha397e9f_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pyasn1-modules-0.2.8-py_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.8.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/rsa-4.7.2-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/sdl2_image-2.6.3-h5848f73_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing-extensions-4.5.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/werkzeug-2.2.3-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/yarl-1.8.1-py311h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/aiohttp-3.8.5-py311h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cairo-1.16.0-h302bd0f_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cryptography-41.0.3-py311hd4332d6_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib_metadata-6.8.0-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcblas-3.9.0-16_osxarm64_openblas.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/liblapack-3.9.0-16_osxarm64_openblas.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-1.26.0-py311he598dae_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/sdl2_mixer-2.6.3-h4fe3bdc_1.conda
https://conda.anaconda.org/conda-forge/noarch/stack_data-0.6.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.9-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/h5py-3.9.0-py311hba6ad2f_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/harfbuzz-8.2.1-hf1a6348_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jax-jumpy-1.0.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-8.6.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/oauthlib-3.2.2-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/opt_einsum-3.3.0-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.40-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyopenssl-23.2.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gymnasium-0.28.1-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/prompt_toolkit-3.0.40-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/sdl2_ttf-2.20.2-h703130d_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-1.26.18-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/ipython-8.17.2-pyh31c8845_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pygame-2.5.2-py311ha589028_2.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/requests-2.31.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/google-auth-2.22.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipykernel-6.25.0-py311hb6e6a13_0.conda
https://repo.anaconda.com/pkgs/main/noarch/requests-oauthlib-1.3.0-py_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/google-auth-oauthlib-0.5.2-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/tensorboard-2.13.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tensorflow-base-2.13.1-cpu_py311h05dd8b3_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tensorflow-estimator-2.13.1-cpu_py311hcceb7c1_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tensorflow-2.13.1-cpu_py311hfb078d8_1.conda
